*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5{
    font-family: "Playfair Display", serif;
}

p,a{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-margin{
    margin-top: 2rem;
}


/* HERO SECTION */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url(../images/about/hero-exterior.jpg);
    height: calc(100vh - 4.5rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.hero h1{
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.overlay{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* HISTORY AND MISSION SECTION AND CHEF*/

.history-mission{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    background-color: #faebd7;
    padding: 0.5rem;
    border-radius: 15px;
}

.chef{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    
    padding: 0.5rem;
}


.history, 
.mission,
.about-chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.history h3, 
.mission h3,
.about-chef h3{
    text-align: center;
}


.history p, 
.mission p,
.about-chef p{
    text-align: justify;
}

.mission ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem   ;
}

.chef img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

}


/* GALLERY SECTION */

.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.gallery .interior,
.gallery .exterior{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    gap: 1rem;
}

.gallery article{
    width: 100%;
    display: flex;
    border-radius: 15px;
    background-color: #faebd7;
    padding: 0.5rem;

}

.gallery article:hover img{
    transform: scale(1.05);
}

.gallery img{
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}


@media(min-width:768px){

    .history-mission,
    .chef,
    .gallery .interior,
    .gallery .exterior{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, auto);
    }


    .chef{
        gap: 2rem;
    }
}


@media(min-width:1024px){
    .gallery .interior,
    .gallery .exterior{
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: auto;
    }
}
