*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5{
    font-family: "Playfair Display", serif;
}

p,a{
    font-family: "Open Sans", sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* HERO SECTION */

main{
    background-color: #fff8ec;
}

.hero{
    height: 100vh;
    background-image: url(../images/gallery/hotel-exterior-night.jpg);

    background-size: cover;
    position: relative;
}

.overlay{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.overlay h1{
    font-size: 4rem;
    text-align: center;
}

.overlay p{
    font-size: 2.5rem;
    text-align: center;
}




@media(min-width:1024px){
    .hero{
        height: 60vh;
    }
    
}